header{
    display: inline;
  }
  .nav{
    display: flex;
    clear: both;
    align-items: center;
    margin-top: -1.5%;
    margin-left: 2%;
  }
  .home{
    font-size: 220%;
    margin-left: 3%;
    display: inline-block;
  }
  .nav-list{
    list-style: none;
    display: flex;
    margin-left: 55%;
    
  }
  .nav-ele{
    margin-left: 40%;
    font-size:180%;
  }
  .body{
      display: flex;
      list-style: none;
  }
  .text{
      margin-top: 10%;
      margin-left: -20%;
  }
  .name{
      font-size: 530%;
      font-family: 'Roboto Mono', monospace;
      margin-left: -85%;
      margin-top: -17%;
  }
  .line{
      font-size: 300%;
      margin-top: -18%;
      margin-left: -85%;
  }
  .creat{
      font-size: 300%;
      margin-left: -85%;
      color: rgba(78, 77, 77, 0.674);
  }
  a{
    text-decoration:none;
    color: gray;
  }
 .active:hover{
  background-color: black;
  color: white;
  
 }
 .auto{
  color: black;
 }
 .myimg{
  margin-top: -2%;
  margin-left: 3%;
  width: 50%;
 }
 .logo{
  list-style: none;
  display: flex;
  margin-left: 80%;
  margin-top: 9%;
 }
 .logoimg{
    padding-right: -110%;
    
    
 }
 .logoimg:hover{
    background-color: gray;
    padding: -100%;
 }
 .about{
  margin-left:-59%;
 }
 .details{
  display: flex;
  margin-top: 2%;
  margin-right: 20%;
  margin-left: -49%;

 }
 ul{
  list-style: none;
 }
 * {box-sizing:border-box}

.container {
  width: 100%;
  background-color: #ddd; 
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
}

.html {width: 90%; background-color: gray;} 
.css {width: 80%; background-color: gray;}
.js {width: 70%; background-color: gray;}
.python {width: 70%; background-color: gray;}
.wordpress {width: 90%; background-color: gray;}
.name{
  font-size: 100%;
  margin: 1%;
  padding-right: 2%;
  
}
.body2{
  margin-top:-27%;
  margin-left: 37%;
  display: flex;
}
.details2{
  margin-left: -64%;
  width: 300%;
}
.progra2{
  margin-left: 50%;
  margin-top: 10%;
  
}
.edu{
  margin-left: 40%;
}
.progra{
  margin-top: 53%;
  margin-left: -25%;
}
.progra3{
  margin-top: 50%;
}
.edu2{
  padding: 2%;
}
.body3{
  margin-left: 47%;
  margin-top: -18%;
}
.le{
  margin-left: 2%;
}
@media only screen and (max-width: 1146px) {
  .nav,
  .nav-list {
    flex-direction: column;
  }
  .myimg{
    width: 0%;
  }
}