header{
    display: inline;
  }
  .nav{
    display: flex;
    clear: both;
    align-items: center;
    margin-top: -1.5%;
    margin-left: 2%;
  }
  .home{
    font-size: 220%;
    margin-left: 3%;
    display: inline-block;
  }
  .nav-list{
    list-style: none;
    display: flex;
    margin-left: 55%;
    
  }
  .nav-ele{
    margin-left: 40%;
    font-size:180%;
  }
  .body{
      display: flex;
      list-style: none;
  }
  .text{
      margin-top: 10%;
      margin-left: -20%;
  }
  .name{
      font-size: 530%;
      font-family: 'Roboto Mono', monospace;
      margin-left: -85%;
      margin-top: -17%;
  }
  .line{
      font-size: 300%;
      margin-top: -18%;
      margin-left: -85%;
  }
  .creat{
      font-size: 300%;
      margin-left: -85%;
      color: rgba(78, 77, 77, 0.674);
  }
  a{
    text-decoration:none;
    color: gray;
  }
 .active:hover{
  background-color: black;
  color: white;
  
 }
 .auto{
  color: black;
 }
 .button{
  height: 7%;
  margin-top: 418%;
  margin-left: -881%;
  background-color: rgb(54, 54, 54);
  box-shadow: 5px 4px 5px gray;
  font-size: 130%;
  color: white;
 }
 button:hover{
  background: blueviolet;
 }
 .myimg{
  margin-top: -2%;
  margin-left: 3.4%;
  width: 33%;
 }
 .logo{
  list-style: none;
  display: flex;
  margin-left: 80%;
  margin-top: -9%;
 }
 .logoimg{
    padding-right: -110%;
    
    
 }
 .logoimg:hover{
    background-color: gray;
    padding: -100%;
 }
 @media only screen and (max-width: 1146px) {
  .nav,
  .nav-list {
    flex-direction: column;
  }
  .myimg{
    width: 0%;
  }
  .body{
    width: 10%;
    margin-left: 20%;
  }
  li{
    padding: 20%;
    width: 20%;
    
  }
  .button{
    margin-top: 3990%;
  }
  img{
    width: 100%;
  }
}